.lightning-chat-reset {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    position: static;
}

#lightning-chat-container {
    z-index: 99999;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
     #lightning-chat-title {
        background-color: #1976D2;
        color: white;
        padding: 20px;
        label {
            display: block;
            font-size: 13px;
            color: #90CAF9;
        }
        input {
            background-color: transparent;
            color: white;
            outline: none;
            border: none;
            border-bottom: rgba(255,255,255,0.3) 2px solid;
            font-size: 13px;
            &:hover {
                border:none;
                box-shadow: none;
            }
            &.error {
                border-bottom: red 2px solid;
            }
        }
        #lightning-chat-welcome-message {
            padding-right: 20px;
            display: inline-block;
        }
        #lightning-chat-offline-message {
          display: none;
        }
    }

    #lightning-chat-content-container {
      #lightning-chat-email-form {
        padding-top: 20px;
      }
      #lightning-chat-offline-email {
        display: none;
        padding: 20px;
        input, textarea {
          width: 100%;
          border: none;
          border-bottom: #1976D2 2px solid;
          outline: none;
          padding-top: 5px;
          padding-bottom: 5px;
          &.error {
            border-bottom: red 2px solid;
          }
        }
        textarea {
          min-height: 100px;
          padding-left: 0;
          padding-right: 0;
        }
        label {
          display: block;
          opacity: 0.5;
          padding-top: 10px;
          font-size: 14px;
        }
        button {
          background-color: #1976D2;
          color: white;
          border: none;
          width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 5px;
          margin-top: 10px;
          &:hover {
            background-color: #0966C2;
          }
        }
      }
      &.lightning-chat-offline {
        #lightning-chat-offline-email {
          display: block;
          #lightning-chat-offline-email-sent-message {
            display: none;
          }
          &.lightning-chat-offline-email-sent {
            #lightning-chat-title {
              #lightning-chat-offline-message {
                display: none;
              }
            }
            input, textarea, label, button {
              display: none;
            }
            #lightning-chat-offline-email-sent-message {
              display: block;
            }
          }
        }
        // #lightning-chat-initial-quiz-container {
        //   display: none;
        // }
        #bubble-container {
          display: none;
        }
        #lightning-chat-controls {
          display: none;
        }
        #lightning-chat-title {
          #lightning-chat-offline-message {
            display: block;
          }
          #lightning-chat-welcome-message {
            display: none;
          }
          #lightning-chat-email-form {
            display: none;
          }
        }
      }
        background-color: white;
        width: 400px;
        max-width: 80vw;
        position: absolute;
        bottom: 80px;
        right: 0;
        height: auto;
        box-shadow: rgba(0,0,0,0.2) 3px 3px 10px;
        border-radius: 10px;
        overflow: hidden;
        transition: all ease 0.5s;
        opacity: 1;
        &.not-shown {
            right: -500px;
            transition: all ease 0.5s;
            opacity: 0;
        }
    }

    &.closed {
        #lightning-chat-content-container {
            background-color: #E0E0E0;
        }
        #lightning-chat-content-container #bubble-container {
            opacity: 0.7;
        }
    }

    #lightning-chat-begin-chat-button {
        background-color: #1E88E5;
        color: white;
        border: none;
        font-size: 25px;
        border-radius: 100px;
        height: 60px;
        width: 60px;
        box-shadow: rgba(0,0,0,0.2) 5px 5px 10px;
        cursor: pointer;
        transition: all ease 0.3s;
        opacity: 1;
        position: relative;
        &.lightning-chat-hidden {
          opacity: 0;
          transition: all ease 0.3s;
        }
        &:hover {
            background-color: #0D47A1;
            transition: all ease 0.3s;
        }

        &.active {
            background-color: #0D47A1;
        }
    }

    #lightning-chat-initial-quiz-container {
        bottom: 50px;
        left: 0;
        height: auto;
        max-height: 70%;
        overflow-y: hidden;
        padding-bottom: 20px;
        background-color: #1E88E5;
        text-align: center;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        p {
            font-size: 20px;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: rgba(255,255,255,0.1);
                margin-top: 5px;
                border-radius: 3px;
                cursor: pointer;
                transition: all ease 0.1s;
                &:hover {
                    background-color: rgba(255,255,255,0.2);
                    transition: all ease 0.1s;
                }
                &:active {
                    background-color: rgba(0,0,0,0.1);
                }
            }
        }
    }
}

#lightning-chat-container.closed #new-chat-controls {
    display: block;
}

#lightning-chat-start-over-controls {
  border: none;
  background-color: rgba(255,255,255,0.2);
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
  transition: all ease 0.3s;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    transition: all ease 0.3s;
    background-color: rgba(255,255,255,0.4);
  }
}

#lightning-chat-controls {
    height: 45px;
    background-color: #FAFAFA;
    border-top: #EEEEEE 2px solid;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}


#lightning-chat-container #new-chat-controls {
    display: none;
    height: 45px;
    background-color: #1E88E5;
    border-top: #1E88E5 2px solid;
    text-align: center;
    line-height: 45px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    transition: all ease 0.3s;
}

#lightning-chat-container #new-chat-controls:hover {
    background-color: #1565C0;
    transition: all ease 0.3s;
}




#lightning-chat-controls input {
    height: 45px;
    /*border: none;*/
    font-size: 14px;
    /*line-height: 40px;*/
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
}

#lightning-chat-container #bubble-container {
    /*position: absolute;*/
    bottom: 50px;
    left: 0;
    height: 400px;
    max-height: 25vh;
    overflow-y: scroll;
    padding-bottom: 20px;
}

#lightning-chat-container #bubble-container .left-bubble,
#lightning-chat-container #bubble-container .right-bubble {
    padding: 15px;
    padding-bottom: 0;
}

#lightning-chat-container #bubble-container .right-bubble {
    text-align: right;
}

#lightning-chat-container #bubble-container .left-bubble p,
#lightning-chat-container #bubble-container .right-bubble p {
    padding: 10px;
    margin: 0;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    border-radius: 20px;
}

#lightning-chat-container #bubble-container .left-bubble p {
    background-color: #F5F5F5;
    color: #424242;
    border-top-left-radius: 0px;
}


#lightning-chat-container #bubble-container .right-bubble p {
    background-color: #039BE5;
    color: #E1F5FE;
    border-bottom-right-radius: 0px;
}

.lightning-chat-hidden {
    display: none !important;
    opacity: 0;
    transition: all ease 0.3s;
}

#lightning-chat-initial-quiz-message {
    padding: 20px !important;
}

#lightning-chat-notify-message {
  position: absolute;
  right: 30px;
  width: max-content;
  bottom: 70px;
  background-color: #1976D2;
  color: white;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  padding: 20px;
  box-shadow: rgba(0,0,0,0.1) 5px 5px 10px;
  overflow: none;
  transform: scale(0);
  transition: all ease 0.3s;
  transform-origin: 100% 100%;
  box-sizing: content-box !important;
  &.lc-notify-message-shown {
    transition: all ease 0.3s;
    transform: scale(1);
  }
  &.lc-do-not-show {
    transform: scale(0) !important;
    transition: all ease 0.3s;
  }
}


@media (max-width: 400px){
  #lightning-chat-container{
    #lightning-chat-begin-chat-button {
      width: 40px;
      height: 40px;
      font-size: 20px;
    }
    #lightning-chat-title {
      padding: 20px;
    }
    #lightning-chat-email-message {
      font-size: 12px !important;
    }
    #lightning-chat-email-form {
      padding-top: 10px !important;
    }
    #lightning-chat-content-container {
      bottom: 45px;
      max-width: 85vw;
      max-height: 70vh;
      #lightning-chat-initial-quiz-container {
        p {
          font-size: 15px;
        }
      }
      #lightning-chat-offline-email {
        label {
          font-size: 12px;
        }
      }
      #lightning-chat-send-email-message-box {
        min-height: 50px !important;
      }
      #lightning-chat-offline-message {
        font-size: 15px;
      }
      #lightning-chat-welcome-message {
        font-size: 15px;
      }
      #lightning-chat-initial-quiz-choices {
        font-size: 15px;
        li {
          padding: 5px;
        }
      }
    }
  }

}
